#game table tr:before {
	content: attr(data-row);
	margin-right: .5em;
}
#game table tr:first-child td:before {	
	content: attr(data-col);
	top: -2.5em;
	position: relative;
}
#game table {
	margin: 0 auto;
}
#game table, #game tr, #game td {
	border-collapse: collapse;
	border: 0.1em white solid;
}
#game td {
	height:	1.5em;
	width: 1.5em;
	background-color: #1E88E5;
	cursor: crosshair;
}
#game td:hover {
	background-color: #1565C0;
}
#sound-checkbox {
	position: fixed;
	bottom: .5em;
	left: .5em;
}