#game table {
	margin: 0 auto;
}
#game table, #game th, #game td {
	border-collapse: collapse;
	border: 0.1em white solid;
}
#game td {
	height:	1.5em;
	width: 1.5em;
	background-color: #1E88E5;
	cursor: crosshair;
}
#game td:hover {
	background-color: #1565C0;
}